<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>318551553736-kpak7b1k1bs4jrn6m6512371vqp815e0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.318551553736-kpak7b1k1bs4jrn6m6512371vqp815e0</string>
	<key>API_KEY</key>
	<string>AIzaSyCdqTsAgJY-RuQBhNhgpzUDV6BhOrKqBsc</string>
	<key>GCM_SENDER_ID</key>
	<string>318551553736</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.alftecnologia.rockethelp</string>
	<key>PROJECT_ID</key>
	<string>rockethelp-f109d</string>
	<key>STORAGE_BUCKET</key>
	<string>rockethelp-f109d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:318551553736:ios:4f614f5dc6885eae9bd7fd</string>
</dict>
</plist>